<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%> 

<body>

	<%- include('./partials/headerNot')%> 
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/products/halloweenbanner6.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h1 class="products-title">Novedades</h1>
			</div>
			<!-- Show the "ultimos" products -->

			<% for(let i=0; i<4; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a class= "hipervinculo" href="product">
							<figure class="product-box_image">
								<img src= <%= dataProducto[i].imagen %> alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%= dataProducto[i].nombre %></h2>
								<p><%= dataProducto[i].descripcion %></p>
								<p><%= dataProducto[i].fechaDeCarga %></p>
							</article>
						</a>
					</section>
				</div>
			<% } %> 

		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h1 class="products-title">Más comentados</h1>
			</div>
			<!-- Show the "ultimos" products -->
			
			<% for(let i=4; i<8; i++) { %>

			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a class="hipervinculo" href="product">
						<figure class="product-box_image">
							<img src= <%= dataProducto[i].imagen %> alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= dataProducto[i].nombre %></h2>
							<p><%= dataProducto[i].descripcion %></p>
							<p><%= dataProducto[i].fechaDeCarga %></p>
						</article>
					</a>
				</section>
			</div>
			<% } %> 


		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	
	<%- include('./partials/footer') %> 

	<!-- /footer -->
</body>	
</html>