<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->

<%- include('./partials/head')%> 

<body>
	<!-- Header -->

	<%- include('./partials/headerNot')%> 

	<!-- /Header -->


	<!-- product detail -->

	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h1 class="products-title"> <%= nombreProducto.nombre %> </h1> 
			<p class="product-detail-description">
				<a class="hipervinculo" href="/product/add">Editar</a>
			</p>
		</div>


		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src= <%= nombreProducto.imagen %>  alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= nombreProducto.descripcion %> 
					</p>
				</article>
				<div class="col-12 col-lg-4">

				<% for (let i=0; i<commentProducto.length; i++) { %> 


					<section class="comments">
						<article>
							<img src= <%= commentProducto[i].imagenDePerfil %>   alt="">
							<div class="data">
								<p class="user">
								<strong> <a class="hipervinculo" href="/user/profile"> <%= commentProducto[i].nombreDeUsuario %>:</a> </strong>
								 <%= commentProducto[i].textoDeComentario %> </p>
							</div>
						</article>
					</section>

				<% }  %> 


					<form class="form" action="/product">
						<a class="hipervinculo" href="/product"></a>
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button" >AGREGAR COMENTARIO</button>
						</a>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

		<!-- footer -->
	
		<%- include('./partials/footer') %> 

		<!-- /footer -->

</body>	
</html>