<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%> 

<body>
	<!-- Header -->

	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')%> 
<% } else { %>
		<%- include('./partials/headerNot')%> 
<% } %> 

	<!-- /Header -->

	<!-- Novedades -->
			<form action="/user/profile/edit/<%= usuarioEdit.id %>" method="post" enctype="multipart/form-data">
				<div class="login">
					<div class="login-screen">
						<div class="app-title">
							<h1>Edita tu perfil</h1>
						</div>
			
						<div class="login-form">
							<div class="control-group">
							<input type="text" class="login-field" value="<%= usuarioEdit.usuario %> " placeholder="Username" id="login-name">
							<label class="login-field-icon fui-user" for="login-name"></label>
							</div>
			
							<div class="control-group">
							<input type="password" class="login-field" value="<%= usuarioEdit.contrasenia %>" placeholder="Password" id="login-pass">
							<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="text" class="login-field" value="<%= usuarioEdit.email %>" placeholder="E-mail" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="date" class="login-field" value="<%= usuarioEdit.FechadeNacimiento %>" placeholder="Fecha de nacimiento" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="text" class="login-field" value="<%= usuarioEdit.dni %>" placeholder="DNI" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input name='fotoDePerfil' type="file" class="login-field" value="<%= usuarioEdit.fotoDePerfil %>" placeholder="Foto" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>
			
							<!--<a class="btn btn-primary btn-large btn-block" type="submit">COMENCEMOS</a> -->
							<button type="submit">EDITAR</button>

						</div>
					</div>
				</div>
			</form>


		<!-- footer -->
	
		<%- include('./partials/footer') %> 

		<!-- /footer -->
</body>

</html>